/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "./boards/shields/klink_kbd/common.keymap"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        EXC {
            bindings = <&kp EXCLAMATION>;
            key-positions = <0 1>;
            timeout-ms = <350>;
            layers = <0>;
        };

        ATS {
            bindings = <&kp AT_SIGN>;
            key-positions = <1 2>;
            timeout-ms = <350>;
            layers = <0>;
        };

        HAS {
            bindings = <&kp HASH>;
            key-positions = <2 3>;
            timeout-ms = <350>;
            layers = <0>;
        };

        DOL {
            bindings = <&kp DOLLAR>;
            key-positions = <3 4>;
            timeout-ms = <350>;
            layers = <0>;
        };

        PER {
            bindings = <&kp PERCENT>;
            key-positions = <4 5>;
            timeout-ms = <350>;
            layers = <0>;
        };

        CAR {
            bindings = <&kp CARET>;
            key-positions = <5 6>;
            timeout-ms = <350>;
            layers = <0>;
        };

        AMP {
            bindings = <&kp AMPERSAND>;
            key-positions = <6 7>;
            timeout-ms = <350>;
            layers = <0>;
        };

        AST {
            bindings = <&kp ASTERISK>;
            key-positions = <7 8>;
            timeout-ms = <350>;
            layers = <0>;
        };

        LPA {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <8 9>;
            timeout-ms = <350>;
            layers = <0>;
        };

        RPA {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <9 10>;
            timeout-ms = <350>;
            layers = <0>;
        };

        USC {
            bindings = <&kp UNDERSCORE>;
            key-positions = <10 11>;
            timeout-ms = <350>;
            layers = <0>;
        };

        PLU {
            bindings = <&kp PLUS>;
            key-positions = <11 12>;
            timeout-ms = <350>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE  &kp Q      &kp W     &kp E  &kp R      &kp T  &kp Y      &kp U  &kp I      &kp O            &kp P              &kp LEFT_BRACKET  &kp BSPC
&kp TAB     &kp A      &kp S     &kp D  &kp F      &kp G  &kp H      &kp J  &kp K      &kp L            &kp SEMI           &kp RET
&kp LSHFT   &kp Z      &kp X     &kp C  &kp V      &kp B  &kp N      &kp M  &kp COMMA  &kp DOT          &kp RSHIFT         &lt 2 SLASH
            &kp LCTRL  &kp LALT         &kp SPACE         &kp SPACE                    &lt 1 RIGHT_ALT  &kp RIGHT_CONTROL
            >;
        };

        layer1 {
            bindings = <
&kp GRAVE     &kp N1     &kp N2     &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp RIGHT_BRACKET  &kp NON_US_BACKSLASH
&kp CAPSLOCK  &kp MINUS  &kp EQUAL  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
              &trans     &trans             &trans          &trans                  &trans  &trans
            >;
        };

        layer2 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7    &kp F8    &kp F9     &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &kp UP     &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans   &trans
        &trans  &trans          &trans          &trans                      &trans     &trans
            >;
        };

        layer5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans          &trans                  &trans  &trans
            >;
        };

        layer6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans          &trans                  &trans  &trans
            >;
        };

        layer7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans          &trans                  &trans  &trans
            >;
        };
    };
};
